extends layout/layout.pug

block content
  section#index
    h1#titulo SSAPI
    article
      form
        .form-group
          input.form-control(type="text", name="key", placeholder="Introduce la clave...")